<%= form_for @log, :html => { :class => "form-horizontal log" } do |f| %>

    <% if @log.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @log.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :os_version %><br>
      <%= f.text_field :os_version %>
    </div>
    <div class="field">
      <%= f.label :app_version %><br>
      <%= f.text_field :app_version %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :device %><br>
      <%= f.text_field :device %>
    </div>
    <div class="field">
      <%= f.label :contents %><br>
      <%= f.text_field :contents %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  logs_path, :class => 'btn btn-default' %>
    </div>



<% end %>
